:root {
    --box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
}

.device {
    &-box {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: var(--box-shadow);
    }
}

.shop {
    &-filter {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: var(--box-shadow);
        & button {
            width: 100%;
            &, &:hover {
                background-color: var(--diagree);
                border-color: transparent;
            }
            &:active {
                border-color: transparent !important;
                background-color: var(--diagree-active) !important;
            }
        }
    }
}

.brand {
    margin-bottom: 10px;
    padding: 16px 12px;
    display: flex;
    gap: 10px;
    &-item {
        height: 40px;
        border-radius: 8px;
        background-color: #f7f7f7;
        padding: 10px;
        &[active='active'] {
            opacity: .7;
        }
    }
}

.type {
    &-bar {
        padding: 5px 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 5px;
        &.active {
            background-color: var(--blue);
            color: #fff;
        }
    }
}

.last {
    &-box {
        border-radius: 8px;
        background-color: #fff;
        display: flex;
    }
}